{% extends "main.html" %}
{% block tabs %}
  {{ super() }}
  <style>
    .md-main__inner{display: none;}
    .md-header{position:initial}.md-main__inner{margin:0}.md-content{display: none;}
    .tx-container{height: 100vh;padding-top:1rem;background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../static/home.png"); background-repeat: no-repeat; background-size:cover;}
    .tx-container2{padding-top:1rem;background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ); background-repeat: no-repeat; background-size:cover;} 
    .tx-container3{min-height: 100vh;padding-top:1rem;background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8) ), url("../static/team.jpg"); background-repeat: no-repeat; background-size:cover;} 
    .tx-hero{margin:0 .8rem;color:var(--md-primary-bg-color)}.tx-hero h1{margin-bottom:1rem;color: #EEE;font-weight:700}
    .tx-hero__content{padding-bottom:3rem;}.tx-hero .md-button{margin-top:.5rem;margin-right:.5rem;color:#EEE;}
    .tx-hero .md-button--primary{background-color:var(--md-primary-bg-color);color:var(--md-primary-fg-color);border-color:var(--md-primary-bg-color)}
    .tx-hero .md-button:focus,.tx-hero .md-button:hover{background-color:var(--md-accent-fg-color);color:var(--md-default-bg-color);border-color:var(--md-accent-fg-color)}@media screen and (max-width:30em){.tx-hero h1{font-size:1.4rem}}@media screen and (min-width:60em){.md-sidebar--primary{display:none} .md-sidebar--secondary{display:none}
    .tx-hero{display:flex;align-items:stretch}
    .tx-hero__content{max-width:25rem;margin-top:12rem;padding-bottom: 12vw;}
    .tx-hero__content2{max-width:40rem;margin-top:3rem;padding-bottom: 6vw;}
    .tx-hero__content3{max-width:50rem;margin-top:3rem;padding-bottom: 6vw;}
    .tx-hero__content2 h2{text-align: justify;}
  </style>
  <section class="tx-container">
    <div class="md-grid md-typeset">
      <div class="tx-hero">
        <div class="tx-hero__content">
          <h1>STEAM Materials Library</h1>
          <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | striptags }}" class="md-button md-button--primary">
            Properties
          </a>
          <a href="naming" title="Naming" class="md-button">
            Naming
          </a>
          <a href="Installation_and_Use" title="Installation and Use" class="md-button">
            Installation and Use
          </a>
          <a href="tools" title="Tools" class="md-button">
            Tools
          </a>
          <a href="Compiling" title="Compiling" class="md-button">
            Compiling
          </a>
          <a href="licensing" title="Licensing" class="md-button">
            Licensing
          </a>
          <a href="contact" title="Contact" class="md-button">
            Contact
          </a>
          <a href="Contributing" title="Contributing" class="md-button">
            Contact
          </a>
        </div>
      </div> 
    </div> 
  </section>


{% endblock %}

{% block content %}

{% endblock %}

{% block hero %}
{{ super() }}
{% endblock %}
