{% extends "base.html" %}
{% block announce %}
  <style>
    .toolbar a { color:#FFFFFF; font-size:14px; font-weight:400; letter-spacing: 0.08em; font-family:"opensans-bold";display:inline-block;} 
    .toolbar span { color:rgb(153, 153, 153); font-size:14px; font-weight:400; font-family:"opensans-bold";}
    .toolbar h1 {float: left;font-size: 14px;font-weight: 400;line-height: 1;position: relative;left: -8px;padding: 6px 0;margin: 0;}
    .md-announce{ height:40px;}
    .md-announce__inner{padding: 0 1rem; padding-top: 6px; margin: auto;}
  </style>
  <div class="toolbar">
    <h1>
      <a href="//home.cern" title="CERN">
        <b>CERN</b>
        <span style="letter-spacing: normal"><b>Accelerating science</b></span>
      </a>
    </h1>
  </div>
{% endblock %}
{% block analytics %}
{% endblock %}